.timer {
  position: relative;
  margin-bottom: 64px;
  z-index: -5;
}


.timer__wrapper {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  box-shadow: 50px 50px 100px 0px rgb(18, 21, 48),-50px -50px 100px 0px rgb(39, 44, 90);
  background: linear-gradient(-45.00deg, rgb(46, 50, 90) 0%,rgb(14, 17, 42) 100%);
}

.timer__inner {
  display: flex;
  align-items:center;
  justify-content: center;
  border-radius: 50%;
  width: 366px;
  height: 366px;
  background-color: var(--dark-blue);
}

.timer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 339px;
  height: 339px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--dark-blue);
  border: 12px solid var(--red);
}

.timer__time {
  font-size: 100px;
  line-height: 101px;
  margin-bottom: 19px;
}

.timer__button {
  display: inline-block;
  background-color: transparent;
  color: var(--light-blue);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 15px;
  cursor: pointer;
  font-weight: 700;
}